.footer {
    background: #020617;
    color: #9ca3af;
    padding: 40px 20px;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.footer h3,
.footer h4 {
    color: #e5e7eb;
}

.copy {
    text-align: center;
    font-size: 12px;
}
