<!-- =====================================
     COMPU DESK ADMIN
     Header
====================================== -->


<header class="admin-header">


    <div>


        <h1>
            Panel Administrativo
        </h1>


        <p>
            Gestión interna de servicios Compu Desk
        </p>


    </div>



    <div class="admin-profile">


        <i class="fa-solid fa-user-shield"></i>


        <div>

            <strong id="adminName">
                
            </strong>


            <small id="adminRole">

            </small>


        </div>


    </div>


</header>
