<!-- ==========================================
COMPU DESK
ADMIN HEADER
Producción v1.0
========================================== -->


<header class="topbar">


    <div class="brand">


        <img
            src="/img/logo.png"
            alt="Compu Desk"
            class="brand-logo">


        <div>

            <h2>
                Compu Desk
            </h2>

            <small>
                Panel Administrativo
            </small>

        </div>


    </div>



    <div class="topbar-right">


        <div class="admin-info">


            <span
                id="adminNombre"
                class="admin-name">

                Administrador

            </span>


            <span
                id="adminRol"
                class="admin-role">

                --

            </span>


        </div>



        <button
            id="btnLogout"
            class="btn-logout">


            <i class="fa-solid fa-right-from-bracket"></i>


            Salir


        </button>


    </div>


</header>
