<!-- ==========================================
COMPU DESK
ADMIN HEADER
Producción v3.0
========================================== -->


<header class="admin-header">


    <div class="admin-brand">


        <img
        src="/img/logo.png"
        alt="Compu Desk"
        class="admin-brand-logo">


        <div>

            <h2>
                Compu Desk
            </h2>

            <span>
                Panel Administrativo
            </span>

        </div>


    </div>





    <div class="admin-header-right">



        <div class="admin-user">


            <strong id="adminNombre">

                Administrador

            </strong>


            <span id="adminRol">

                Administrador

            </span>


        </div>




        <button
        id="btnLogout"
        class="admin-btn-logout">


            <i class="fa-solid fa-right-from-bracket"></i>


            Salir


        </button>



    </div>



</header>
