<!-- =====================================
     COMPU DESK ADMIN
     Sidebar
====================================== -->

<!-- ==========================================
COMPU DESK
SIDEBAR ADMIN
Producción v1.0
========================================== -->

<aside class="sidebar">

    <div class="sidebar-header">

        <img
            src="/img/logo.png"
            alt="Compu Desk"
            class="sidebar-logo">

    </div>


    <nav class="sidebar-menu">


        <a
            href="/admin/index.html"
            class="menu-item"
            data-route="index.html">

            <i class="fa-solid fa-chart-line"></i>

            <span>
                Dashboard
            </span>

        </a>



        <a
            href="/admin/clientes/index.html"
            class="menu-item"
            data-route="clientes/index.html">

            <i class="fa-solid fa-building"></i>

            <span>
                Clientes
            </span>

        </a>



        <a
            href="/admin/usuarios/index.html"
            class="menu-item"
            data-route="usuarios/index.html">

            <i class="fa-solid fa-users"></i>

            <span>
                Usuarios
            </span>

        </a>



        <a
            href="/admin/tickets/index.html"
            class="menu-item"
            data-route="tickets/index.html">

            <i class="fa-solid fa-ticket"></i>

            <span>
                Tickets
            </span>

        </a>


    </nav>



    <div class="sidebar-footer">

        <small>
            Compu Desk Portal
        </small>

        <small>
            v1.0
        </small>

    </div>


</aside>
