<!-- ==========================================
COMPU DESK
ADMIN SIDEBAR
========================================== -->

<aside class="admin-sidebar">


<div class="admin-sidebar-header">


<img
src="/img/logo.png"
alt="Compu Desk"
class="admin-logo">


<div class="admin-brand-text">

<strong>
Compu Desk
</strong>

<span>
Administración
</span>

</div>


</div>



<nav class="admin-menu">


<a href="/admin/" class="admin-menu-item">

<i class="fa-solid fa-chart-line"></i>

<span>
Dashboard
</span>

</a>



<a href="/admin/clientes/" class="admin-menu-item">

<i class="fa-solid fa-building"></i>

<span>
Clientes
</span>

</a>



<a href="/admin/usuarios/" class="admin-menu-item">

<i class="fa-solid fa-users"></i>

<span>
Usuarios
</span>

</a>



<a href="/admin/tickets/" class="admin-menu-item">

<i class="fa-solid fa-ticket"></i>

<span>
Tickets
</span>

</a>


</nav>



<div class="admin-sidebar-footer">


<span>
Compu Desk Portal
</span>


<small>
v1.0
</small>


</div>



</aside>
