<footer class="footer">

    <div class="footer-container">

        <!-- INFO -->
        <div class="footer-section">
            <h3>CompuDesk</h3>
            <p>Soporte técnico profesional en CDMX</p>
        </div>

        <!-- CONTACTO -->
        <div class="footer-section">
            <h4>Contacto</h4>

            <p><strong>Correo:</strong></p>
            <a href="mailto:ventas_compudesk@outlook.com">
                ventas_compudesk@outlook.com
            </a>

            <p><strong>Móvil:</strong></p>
            <a href="https://wa.me/5215514617007">
                55 1461 7007
            </a>

            <p><strong>Fijo:</strong></p>
            <a href="tel:+525590224573">
                55 9022 4573
            </a>
        </div>

        <!-- REDES -->
        <div class="footer-section">
            <h4>Síguenos</h4>

            <div class="socials">
                <a href="#" target="_blank">
                    <img src="img/facebook.png" alt="Facebook">
                </a>

                <a href="#" target="_blank">
                    <img src="img/instagram.png" alt="Instagram">
                </a>
            </div>
        </div>

    </div>

    <p class="copy">
        © 2026 CompuDesk | Todos los derechos reservados
    </p>

</footer>
