<footer class="footer">

    <div class="footer-container">

        <!-- INFO -->
        <div class="footer-section">
            <h3>CompuDesk</h3>
            <p>Soporte técnico profesional en CDMX</p>
        </div>

        <!-- CONTACTO -->
        <div class="footer-section">
            <h4>Contacto</h4>

            <p>¿Preguntas?</p>

            <a href="mailto:ventas_compudesk@outlook.com">
                ventas_compudesk@outlook.com
            </a>

            <p>Móvil:</p>
            <a href="https://wa.me/5215514617007">
                55 1461 7007
            </a>

            <p>Fijo:</p>
            <a href="tel:+525590224573">
                55 9022 4573
            </a>
        </div>

        <!-- REDES SOCIALES -->
        <div class="footer-section">
            <h4>Síguenos</h4>

            <div class="socials">

                <a href="https://www.facebook.com/CompuDesk.org" class="social facebook" target="_blank">
                    <i class="fab fa-facebook-f"></i>
                </a>

                <a href="https://www.instagram.com/compudesk_mx" class="social instagram" target="_blank">
                    <i class="fab fa-instagram"></i>
                </a>

                <a href="https://wa.me/5215514617007" class="social whatsapp" target="_blank">
                    <i class="fab fa-whatsapp"></i>
                </a>

            </div>
        </div>

    </div>

    <p class="copy">© 2026 CompuDesk</p>

</footer>
